<?xml version="1.0"?>
<ruleset name="Rushleigh Cookie Choices">
	<description>WordPress coding standards for Rushleigh Cookie Choices.</description>

	<file>rushleigh-cookie-choices.php</file>
	<file>includes</file>
	<file>uninstall.php</file>

	<exclude-pattern>vendor/*</exclude-pattern>

	<arg name="basepath" value="."/>
	<arg name="colors"/>
	<arg value="sp"/>

	<rule ref="WordPress"/>
	<rule ref="WordPress-Docs"/>
	<rule ref="PHPCompatibilityWP">
		<properties>
			<property name="testVersion" value="8.2-"/>
		</properties>
	</rule>

	<config name="minimum_supported_wp_version" value="6.8"/>
	<config name="text_domain" value="rushleigh-cookie-choices"/>
</ruleset>
